# This is a comment.
# Each line is a file pattern followed by one or more owners.

*       @damla

CONTRIBUTING.md    @damla @TheYkk
CODE_OF_CONDUCT.md   @damla @TheYkk
.github/   @damla @TheYkk

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
docs/* @damla @omerayyildiz

# docs/c.md @liveans
# docs/cplusplus.md @liveans
